<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Словарь: Средний уровень</title>
    <link rel="icon" type="image/png" href="/static/ico.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div style="text-align: center; padding-top: 100px;">
    <div class="label">Слово: {{ word }}</div>
    <div class="label">Перевод: {{ translation }}</div>
    {% if learned_words is not None %}
        <div class="label">Выученные слова: {{ learned_words }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="next" class="glow-on-hover">Следующее слово</button>
        <button type="submit" name="action" value="check" class="glow-on-hover">Проверить слово</button>
        <button type="submit" name="action" value="done" class="glow-on-hover">Выполнено</button>
        <button type="submit" name="action" value="clear" class="glow-on-hover">Очистить статистику</button>
        <button type="submit" name="action" value="save" class="glow-on-hover">Сохранить словарь</button>
        <button type="submit" name="action" value="statistics" class="glow-on-hover">Статистика</button>
    </form>       
<button class="sglow-on-hover" onclick="location.href='{% url 'dictionary' %}'">&nbsp;&nbsp;➤&nbsp;&nbsp;</button>
</div>
</body>
</html>