<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предложения</title>
    <link rel="icon" type="image/png" href="/static/ico.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div style="text-align: center; padding-top: 100px;">
    <div class="sentence2">{{ sentence }}</div>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="correct_translation" value="{{ correct_translation }}">
        <input type="text" name="translation" style="font-size: 32px;">
        <button type="submit" class="glow-on-hover">Проверить</button>
    </form>
    <div class="result" style="color: {{ color }}">{{ result }}</div>
    <form method="get">
        <button type="submit" class="glow-on-hover">Следующее предложение</button>
    </form>
    <button class="sglow-on-hover" onclick="location.href='{% url 'main' %}'">Назад</button>
</div>
</body>
</html>