<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <link rel="icon" type="image/png" href="/static/ico.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div style="text-align: center; padding-top: 100px;">
    <div class="label">{{ front_text }}</div>
    {% if show_translation %}<div class="label">{{ back_text }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% if show_translation %}
            <button type="submit" name="next" class="glow-on-hover">Next Card</button>
        {% else %}
            <button type="submit" name="show_translation" class="glow-on-hover">Show Translation</button>
        {% endif %}
    </form>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="front_text" placeholder="Front Text" class="form-input" required>
        <input type="text" name="back_text" placeholder="Back Text" class="form-input" required>
        <button type="submit" name="add_card" class="glow-on-hover">Add Card</button>
    </form>
    <button class="sglow-on-hover" onclick="location.href='{% url 'main' %}'">Назад</button>
</div>
</body>
</html>