<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Произношение и аудирование</title>
    <link rel="icon" type="image/png" href="/static/ico.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div style="text-align: center; padding-top: 100px;">
    <div class="label">{{ sentence }}</div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="next" class="button">Дальше</button>
        <button type="submit" name="playtext" class="button">Прослушать текст</button>
        <button type="submit" name="record" class="button">Записать голос (5 секунд)</button>
        <button type="submit" name="play" class="button">Прослушать голос</button>
    </form>
    <button class="sbutton" onclick="location.href='{% url 'main' %}'">Назад</button>
</div>
</body>
</html>
