<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление темами</title>
    <link rel="icon" type="image/png" href="/static/ico.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div style="text-align: center; padding-top: 100px;">
        <h1 style="color: white;">Управление темами</h1>
        <button class="button" onclick="location.href='{% url 'popular' %}'">Распространённые</button>
        <button class="button" onclick="location.href='{% url 'family' %}'">Семья</button>
        <button class="button" onclick="location.href='{% url 'school' %}'">Школа</button>
        <button class="button" onclick="location.href='{% url 'shop' %}'">Магазин</button>
        <button class="button" onclick="location.href='{% url 'travel' %}'">Путешествия</button>
        <button class="sbutton" onclick="location.href='{% url 'main' %}'">Назад</button>
    </div>
</body>
</html>
