<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Accelingvo</title>
    <link rel="icon" type="image/png" href="/static/ico.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <button class="sglow-on-hover" type="button"  onclick="location.href='{% url 'login' %}'">Авторизация</button>
    <button class="sglow-on-hover" type="button"  onclick="location.href='{% url 'register' %}'">Регистрация</button>

    <h1 class="maintext">Добро пожаловать в Accelingvo!</h1>

    <button class="glow-on-hover" type="button" onclick="location.href='{% url 'register' %}'">Регистрация</button>

    <button class="glow-on-hover" type="button" onclick="location.href='{% url 'login' %}'">Авторизация</button>
    <!-- Добавлен раздел "О нас" -->

    <div class="about-us">

        <h2 class="maintext" style="font-size: 20px">О нашем проекте</h2>
        <h2 class="maintext" style="font-size: 20px">Interactive computer application for learning foreign languages</h2>
        <tr style="color: white" align="left">
            <a href="https://youtu.be/E1ZLRgsA0Mo?si=Yl0Ch0KMkNUNaN9H">
                <img
                    src="https://cdn.icon-icons.com/icons2/195/PNG/256/YouTube_23392.png"
                    width="48"
                    height="48"
                />
            </a>
            <a href="https://github.com/DIJEXX/djangoProjectAccelingvo">
                <img
                    src="https://cdn.icon-icons.com/icons2/3053/PNG/512/github_alt_macos_bigsur_icon_190138.png"
                    width="48"
                    height="48"
                />
            </a>
            <a href="https://gitlab.com/DIJEXX/djangoProjectAccelingvo">
                <img
                    src="https://cdn.icon-icons.com/icons2/2108/PNG/512/gitlab_icon_130930.png"
                    width="48"
                    height="48"
                />
            </a>
            <br />
            <h2 class="maintext">Contributors:</h2>
            <a href="https://github.com/DIJEXX">
                <img
                    src="/static/dijexx.png"
                    width="48"
                    height="48"
                />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            <a href="https://github.com/useroqqq">
                <img
                    src="/static/useroqqq.png"
                    width="48"
                    height="48"
                    alt="GitHub Profile"
                />
            </a>
            <h2 class="maintext" style="font-size: 20px">DIJEXX&nbsp;&nbsp;&nbsp;useroqqq</h2>
            <br />
        </tr>

    </div>

</div>
</body>
</html>