<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="icon" type="image/png" href="/static/ico.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <button class="sglow-on-hover" type="button" onclick="location.href='{% url 'login' %}'">Авторизация</button>
        <button class="sglow-on-hover" type="button" onclick="location.href='{% url 'register' %}'">Регистрация</button>
        <button class="sglow-on-hover" type="button" onclick="location.href='{% url 'index' %}'">На главную</button>
        <h1 style="color: white"> Авторизация
            <form method="POST" autocomplete="off">
            {% csrf_token %}

            {{ loginform.as_p }}
            <input class="glow-on-hover" type="submit" value="Войти"/>
        </form></h1>
    </div>
</body>
</html>
