<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accelingvo</title>
    <link rel="icon" type="image/png" href="/static/ico.png"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div style="text-align: center; padding-top: 100px;">
    <button class="sglow-on-hover" onclick="location.href='{% url 'logout' %}'">Выйти из аккаунта</button>
    <h1 style="color: white;">Главное меню</h1>
    <button class="glow-on-hover" onclick="location.href='{% url 'themes' %}'">Темы</button>
    <button class="glow-on-hover" onclick="location.href='{% url 'dictionary' %}'">Словари</button>
    <button class="glow-on-hover" onclick="location.href='{% url 'sentence' %}'">Предложения</button>
    <button class="glow-on-hover" onclick="location.href='{% url 'sound' %}'">Аудирование</button>
    <button class="glow-on-hover" onclick="location.href='{% url 'show_cards' %}'">Карточки</button>
</div>
</body>
</html>