<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="icon" type="image/png" href="/static/ico.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <a class="sbutton" onclick="location.href='{% url 'login' %}'">Авторизация</a>
        <a class="sbutton"  onclick="location.href='{% url 'register' %}'">Регистрация</a>
        <h1 style="color: white;"> Регистрация
        <form method="POST" autocomplete="off">

        {% csrf_token %}

        {{registerform.as_p}}

        <input class="button" type="submit" value="Зарегистрироваться"/>

        </form></h1>
    </div>
</body>
</html>
